.login-content {
    --background: linear-gradient(rgba(15, 23, 42, 0.35), rgba(15, 23, 42, 0.35)), url('/assets/wallpaper.jpg') 37% center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 1rem;
}

.login-card {
    margin-top: 4.25rem;
    width: min(100%, 400px);
    max-width: 400px;
}