<ng-container *ngIf="showCard; else bareLayout">
    <!-- Loading state -->
    <ng-container *ngIf="!loaded">
        <ion-card [class]="cardClass">
            <ion-card-content>
                <div class="data-list__loading">
                    <ion-spinner name="crescent"></ion-spinner>
                    <p>{{ loadingText }}</p>
                </div>
            </ion-card-content>
        </ion-card>
    </ng-container>

    <!-- Loaded state -->
    <ng-container *ngIf="loaded">
        <!-- Has items -->
        <ion-card *ngIf="items.length > 0" [class]="cardClass">
            <p *ngIf="title" class="data-list__title">{{ resolvedTitle }}</p>
            <ion-list class="data-list__list" lines="none">
                <ng-container *ngFor="let item of items; let i = index; trackBy: trackByFn || defaultTrackBy">
                    <ng-container
                        *ngTemplateOutlet="itemTemplate; context: { $implicit: item, index: i }">
                    </ng-container>
                </ng-container>
            </ion-list>
        </ion-card>

        <!-- Empty state -->
        <ion-card *ngIf="items.length === 0" [class]="cardClass">
            <ion-card-content>
                <div class="data-list__empty">
                    <ion-icon [name]="emptyIcon"></ion-icon>
                    <p>{{ emptyTitle }}</p>
                    <small *ngIf="emptySubtitle">{{ emptySubtitle }}</small>
                </div>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>

<ng-template #bareLayout>
    <ng-container *ngIf="!loaded">
        <div class="data-list__loading">
            <ion-spinner name="crescent"></ion-spinner>
            <p>{{ loadingText }}</p>
        </div>
    </ng-container>

    <ng-container *ngIf="loaded">
        <p *ngIf="title" class="data-list__title">{{ resolvedTitle }}</p>
        <ion-list class="data-list__list" lines="none">
            <ng-container *ngFor="let item of items; let i = index; trackBy: trackByFn || defaultTrackBy">
                <ng-container
                    *ngTemplateOutlet="itemTemplate; context: { $implicit: item, index: i }">
                </ng-container>
            </ng-container>
        </ion-list>

        <div *ngIf="items.length === 0" class="data-list__empty">
            <ion-icon [name]="emptyIcon"></ion-icon>
            <p>{{ emptyTitle }}</p>
            <small *ngIf="emptySubtitle">{{ emptySubtitle }}</small>
        </div>
    </ng-container>
</ng-template>
